extends layout


block content
    .inner
        .aboutPage
        
            h2= title

            p.intro Bonjour, je suis très content de vous accueillir sur ce site et particulierement sur cette page.
            p Vous trouverez ci-dessous des explications et des informations sur ce site.

            
            h5 Le site
            
            p Le principe de ce site est basé sur le cours de Wes Bos "<a href="https://learnnode.com/" class="special"> Learn Nodes! </a>". Un cours de formation premium pour apprendre à créer des applications avec Node.js, Express, MongoDB. Il propose de créer "Now That's Delicious!", Une application full-stack de restaurant où les utilisateurs peuvent rechercher, géolocaliser, examiner et organiser leurs restaurants préférés du monde entier.

            p A partir de son exemple que j'ai un peu modifié à mon goût et avec quelques nouvelles fonctionnalitées ( Page administration , gérer les adresses en public et ou en privées), je lance à la disposition de tout le monde, un carnet d'adresses qui permet de rechercher, géolocaliser, examiner et organiser vos adresses préférés du monde entier. </p>
            <p>Il est évident que je peux vous proposer une solution tout à fait personnalisée à partir de cet exemple en contactant mon studio <a href="https://lvdesign.com.fr/" class="special" alt="LVdesign">LVdesign</a> de création et de développement de site web  .</p>


            h5 Son utilisation
            ul.infos
                li.infos-plus En tant visiteur (Sans s'enregistrer)
                    ul.infos__deux
                        li Voir toutes les adresses du site
                        li Retrouver sur une carte une adresse partagée
                        li Lire les commentaires associés à l'adresse
                
                li.infos-plus En tant qu'utilisateur (En s'enregistrant)
                    ul.infos__deux
                        li Enregistrement et login à votre espace
                        li Rechercher, géolocaliser, examiner et organiser vos adresses du monde entier
                        li Créer et gérer un espace personnel
                        li Gerer ses adresses en privé ou en public  
                        li Créer un profil avec le choix de son Avatar
                        li Enregistrer, modifier, supprimer ses adresses 
                                       
                        li Ajouter et partager des commentaires