extends layout


block content
    .inner
        .aboutPage
        
        h2= title

        p.intro Bonjour, je suis très content de vous accueillir sur ce site et particulierement sur cette page.
        p Vous trouverez ci-dessous des explications et des informations sur ce site.

        
        h5 Le site
        
        p Le principe de ce site est basé sur le cours de Wes Bos "<a href="https://learnnode.com/" class="special"> Learn Nodes! </a>". Un cours de formation premium pour apprendre à créer des applications avec Node.js, Express, MongoDB. Il propose de créer "Now That's Delicious!", Une application full-stack de restaurant où les utilisateurs peuvent rechercher, géolocaliser, examiner et organiser leurs restaurants préférés du monde entier.

        p A partir de cet exemple, je lance à la disposition de tout le monde, un carnet d'adresses qui permet de rechercher, géolocaliser, examiner et organiser vos adresses préférés du monde entier. Il est évident que je peux aussi vous proposer une solution personnalisée par mon studio de créqtion et de developpement de site web, <a href="https://lvdesign.com.fr/" class="special" alt="LVdesign">LVdesign</a>.


        h5 Son utilisation
        ul
            li En tant visiteur (sans s'enregistrer)
                ul
                    li Voir toutes les adresses du site
                    li Retrouver sur une carte une adresse partagée
                    li Lire les commentaires associés à l'adresse
            
            li En tant qu'utilisateur (si vous êtes enregistré)
                ul
                    li Enregistrement et login à votre espace
                    li Rechercher, géolocaliser, examiner et organiser vos adresses du monde entier
                    li Créer et gérer un espace personnel
                    li Créer un profil avec le choix de son Avatar
                    li Enregistrer, modifier, supprimer ses adresses                    
                    li Ajouter et partager des commentaires