extends layout


block content
    .inner
        h2= title

        p site pour conserver et partager des adresses.

        p Le principe de ce site est basé sur le cours de Wes Bos ['Learn Nodes!'](https://learnnode.com/). Un cours de formation premium pour apprendre à créer des applications avec Node.js, Express, MongoDB et amis. Il propose de créer "Now That's Delicious!", Une application full-stack de restaurant où les utilisateurs peuvent rechercher, géolocaliser, examiner et organiser leurs restaurants préférés du monde entier.

        p A partir de cet exemple, je lance un carnet d'addresses qui permet de garder et de partager ses bonnes adresses.