extends layout

include mixins/_adminCard


block content
    .inner
        h2 #{title} : gérez vos adresses

            +adminCard(store)



            //- pre= h.dump(user) 
            //- if user && store.author.equals(user._id) 
       




                        
                        

            
        