extends layout

include mixins/_storeCard
include mixins/_pagination

block content
    .inner
        h2= title
        +pagination(page, pages, count)

        .stores
            //- if store.private == 'non'  
            each store in stores
                +storeCard(store)
                
        +pagination(page, pages, count)