.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;

  td.txt {
    padding: 5px;
    font-size: 2rem;
  }
  tr:nth-child(even) {
    background: white;
  }
  tr:nth-child(odd) {
    background: #ccc;
  }

  thead.thead tr{
    background-color: black;
    color: white;
    text-transform: uppercase;
    
  }
}

.responsiveTable{
  overflow-x:auto;
}

.top__img{
  filter:grayscale(100%);
  width:100px;
}
